<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

 <h1>Team Name: <%= @p[:name] %></h1>
 <h2>Coach: <%= @p[:coach] %></h2>
 <h2>Point Guard: <%= @p[:pg] %></h2>
 <h2>Shooting Guard: <%= @p[:sg] %></h2>
 <h2>Small Forward: <%= @p[:sf] %></h2>
 <h2>Power Forward: <%= @p[:pf] %></h2>
 <h2>Center: <%= @p[:c] %></h2>
 


 </body>
</html>


